{% extends 'base.html' %}

{% block content %}
  <h2>Editar Comentario</h2>
  {% if user == comentario.autor or user.is_superuser %}
    <form method="post" action="{% url 'editar_comentario' comentario.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Guardar cambios">
    </form>
    <a href="{% url 'lista_discusiones' %}" class="btn btn-secondary">Volver a la lista de discusiones</a>
  {% else %}
    <p>No tienes permisos para editar este comentario.</p>
    <a href="{% url 'lista_discusiones' %}" class="btn btn-secondary">Volver a la lista de discusiones</a>
  {% endif %}
{% endblock %}